$bad : #CC3333;
$okay : #CCCC00;
$good : #669933;

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}


@mixin good-background {
    background: #7cbc0a;
    background: -moz-radial-gradient(45px 45px 45deg, circle cover, #7cbc0a 0%, #9dd53a 100%, #9dd53a 95%);
    background: -webkit-radial-gradient(45px 45px, circle cover, #7cbc0a, #9dd53a);
    background: radial-gradient(45px 45px 45deg, circle cover, #7cbc0a 0%, #9dd53a 100%, #9dd53a 95%);
}

@mixin okay-background {
    background: #f9c667;
    background: -moz-radial-gradient(45px 45px 45deg, circle cover, #f9c667 0%, #f79621 100%, #f79621 95%);
    background: -webkit-radial-gradient(45px 45px, circle cover, #f9c667, #f79621);
    background: radial-gradient(45px 45px 45deg, circle cover, #f9c667 0%, #f79621 100%, #f79621 95%);
}

@mixin bad-background {
    background: #ee5f5b;
    background: -moz-radial-gradient(45px 45px 45deg, circle cover, #ee5f5b 0%, #c43c35 100%, #c43c35 95%);
    background: -webkit-radial-gradient(45px 45px, circle cover, #ee5f5b, #c43c35);
    background: radial-gradient(45px 45px 45deg, circle cover, #ee5f5b 0%, #c43c35 100%, #c43c35 95%);
}
@mixin null-background {
    background: #e7e7e7;
}

.circle {


}
/* .spin {

      -webkit-animation-name: spin;
      -webkit-animation-duration: 3s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;


      -moz-animation-name: spin;
      -moz-animation-duration: 3s;
      -moz-animation-iteration-count: infinite;
      -moz-animation-timing-function: linear;


      -ms-animation-name: spin;
      -ms-animation-duration: 3s;
      -ms-animation-iteration-count: infinite;
      -ms-animation-timing-function: linear;
} */

html { font-size: 62.5%; }

body {
    font-family: "Arial", sans-serif;
    background-color: #fff;
    color: #333;
    margin: 0;
    padding: 0;
    font-size: 3rem;
}
html {
    height: 100%;
}
.clear {
    clear: both;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

a {
    color: #0088cc;
    text-decoration: none;
}
a:hover,
a:focus {
    color: #005580;
    text-decoration: underline;
}
a:hover,
a:active {
    outline: 0;
}

#wrapper {
    position: relative;
    padding: 1% 5%;
}
#header {
    margin: 0 0 2% 0;
}
#h1 {
    font-size: 4rem;
    padding: 0;
    text-align: center;
}
.note {
    font-style: italic;
    text-align: center;
    font-size: 2rem;
    color: #666;
}
.call-stat {
    float: left;
    text-align: center;
}

.call-queue {
    margin-bottom: 20px;

}
.call-queue-stat {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    line-height: 300px;
    margin: 0 auto;
    font-size: 12rem;
    /* width and height can be anything, as long as they're equal */
}
.primary {
    width: 100%;
}
.secondary {
    width: 100%;

    dt {
        //margin: 0 0 20px 0;
        display: block;
        clear: left;
        padding: 2% 2%;
        width: 96%;
        text-align: center;
    }
    dd {
        display: block;
        margin: 0 0 20px 0;
        padding: 2% 2%;
        width: 96%;
    }
}

#menu-overlay {
    h2 {
        margin: 0;
        padding: 0;
    }
    a {
        display: inline-block;
        padding: 20px;
        background-color: #e7e7e7;
        margin: 0;
        font-size: 2rem;
    }

}
#menu {
    display: none;
    padding: 0;
    margin: 0;
    background-color: #e7e7e7;

    &.active {
        display: block;
    }

    li {
        display: block;

        a {
            display: block;
            padding: 20px;

            &.active {
                background: #ccc;
            }
        }
    }
}

//landscape mobile and above
@media only screen and (min-width: 480px) {
    .secondary {

        dt {
            float: left;
            display: block;
            clear: left;
            width: 46%;
            text-align: left;
            margin: 0 0 20px 0;
        }
        dd {
            float: right;
            display: block;
            width: 46%;
        }
    }
}

@media (min-width: 980px) {
    .primary {
        width: 40%;
    }
    .secondary {
        width: 55%;
    }
    h1 {
        text-align: center;
    }
    #menu {


        li {
            float: left;
            display: inline;
        }
    }
}

.bad {
    @include bad-background;
    color: #fff;
}
.okay {
    @include okay-background;
}
.good {
     @include good-background
}
.null {
     @include null-background
}

.error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
    padding: 10px;
}

@import "modules/font-awesome/font-awesome";
